

*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}
body{
font-family: 'Rajdhani', sans-serif;
	background-color: var(--white);
}



::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #fff !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #9e9e9e;
}


@font-face {
  font-family: "Cera-basic";
  src: url("../fonts/cera-basic.otf") format("eot"), url("../fonts/cera-basic.otf") format("woff");
  font-weight: normal;
  font-style: normal;
}



.hamburger:focus {
  outline: 0px auto -webkit-focus-ring-color;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 35px;
  height: 3px;
  background-color: #fff;
  border-radius: 3px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--elastic .hamburger-inner {
  top: 0px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  right: 0px;
}

.hamburger--elastic .hamburger-inner::before {
  top: 10px;
  transition: opacity 0.125s 0.275s ease;
}

.hamburger--elastic .hamburger-inner::after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s;
}

.hamburger--elastic.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}

.hamburger--elastic.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-270deg);
  transition-delay: 0.075s;
}

@media (max-width: 767px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px;
    /* Height of navbar */
    bottom: 0;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: hidden;
    background-color: #fff;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out,
      -webkit-transform 0.3s ease-in-out;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}


@media (max-width: 767px) {
  .offcanvas-collapse.open {
    -webkit-transform: translateX(-1rem);

    text-align: center;
    /* Account for horizontal padding on navbar */
  }
}
img{
  width: 100%;
  height: 100%;
}
/********************************/
.banner{
  width: 100%;
  height: 100vh;
  background-size: 100%!important;

}
header{
  position: absolute;
  width: 100%;
  z-index: 1;
}
.flex-content{
  text-align: center;
  display: flex;
  justify-content: center!important;
}
.brand img{
  margin: 1.5rem 0;
  width: 90%;
}
#navbarNav{
  position: absolute;
  right: 0;
  top: 3rem;
  text-align: center;
}
.navbar-expand-md .navbar-nav {
  -ms-flex-direction: column;
  flex-direction: column;
  line-height: 0.3;
  z-index: 999;
}
.navbar-nav a{
  letter-spacing: 1;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 100;
}


.video-player {
  position: relative;
  line-height: 0;
}
.video-player video {
  width: 100%;
}
.video-player .btn {
  position: absolute;
  left: 50%;
  bottom: 46%;
  transition: all 0.6s;
  background-color: transparent;
}


.video-player .btn .icon svg {
  fill: #fff;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.video-player .btn span {
  transition: all 0.4s;
  position: absolute;
  left: 50%;
  top: 50%;

  opacity: 0;
}
.video-player .btn span.active {
  opacity: 1;
}
.video-features {
  padding: 35px;
  border-radius: 4px;
}
.video-features h4 {
  margin-top: 0;
  margin-bottom: 13px;
}
.video-features p {
  margin-bottom: 0;
}
.video-features .media-left {
  vertical-align: middle;
}
.video-features .icon svg {
  width: 40px;
  height: 40px;
  margin-top: -5px;
}

.nivo-lightbox-theme-default .nivo-lightbox-inline {
  background: transparent;
  padding: 0;
}
#bgdvid{
  width: 100%;
    height: 100vh;
    object-fit: cover;

}

.video-overlay-play {
  height: 100%;
  position: absolute;
  width: 100%;
  position: relative;
  cursor: pointer;
}
.video-overlay-play:after {
  content: '▶';
  display: block;
  width: 2em;
  height: 2em;
  border-radius: 100%;
  position: absolute;
  left: calc(50% - 1em);
  top: calc(50% - 1em);
  background-color: #fff;
  background-color: rgb(255 255 255);
  color: #5e5e5e!important;
  font-size: 4em;
  line-height: 2em;
  text-align: center;
  vertical-align: bottom;
  transition: .5s;
  padding-left: .6rem;
}
.video-overlay-play:hover:after{
  background: #2c68a3;
  color: #fff!important;
}
.banner{
  position: relative;
}
.banner p{
  position: absolute;
  bottom: 2rem;
  color: #fff;
  padding: 0 5rem;
  max-width: 475px;
  line-height: 1;
  font-size: 1.2rem;
  font-weight: 100;
}
.navbar-nav a:hover {

  color: #2c68a3;
}

#pre-loader {
  cursor: none;
  position: fixed;
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  vertical-align: middle;
  background: #fff;
  z-index: 99999;
  top: 0;
  justify-content: center;
  align-items: center;
  display: flex;

}

.pre-loader-container {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  z-index: 3;
  text-align: center;
}

.content-loader {
  background-color: #171717;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.logo-loader {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  background: #fff;
  position: relative;
  /* background: #000;*/
}

.logo-loader .icon-loader {
  width: 100%;
  height: 300px;
}

.text__loader {
  width: 50%;
  max-width: 600px;
  height: -webkit-fill-available;
}

.logo-loader .icon-loader path {
  color: #000;
  stroke-width: 1px;
  stroke-dashoffset: -600;
  stroke-dasharray: 600;
}

.logo-loader .icon-loader path.is-active {
  animation-name: icon-loader;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.logo-loader .text {
  width: 100%;
  max-width: 900px;
  margin-left: 40px;
}

.logo-loader .text text {
  color: #000;
  stroke-width: 1px;
  stroke-dashoffset: -600;
  stroke-dasharray: 600;
  font-size: 25px;
  font-family: "GeosansLight";
}

.logo-loader .text text.is-active {
  animation-name: text;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes icon-loader {
  50% {
      stroke-dashoffset: 0;
      fill: transparent;
  }

  75% {
      fill: transparent;
      stroke-width: 1px;
  }

  100% {
      /* quitar bg */
      /* stroke-dashoffset: 0;
            fill: transparent; */
      stroke-dashoffset: 0;
      fill: #000;
      stroke-width: 0px;
  }
}

@keyframes text {
  50% {
      fill: transparent;
  }

  75% {
      fill: transparent;
      stroke-dashoffset: 0;
      stroke-width: 1px;
  }

  100% {
      stroke-dashoffset: 0;
      fill: #000;
      stroke-width: 0px;
  }
}.gooey {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 142px;
  height: 40px;
  margin: -20px 0 0 -71px;
  background: #fff;
  filter: contrast(20);
}
.gooey .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  filter: blur(4px);
  background: #000;
  border-radius: 50%;
  transform: translateX(0);
  animation: dot 2.8s infinite;
}
.gooey .dots {
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  animation: dots 2.8s infinite;
}
.gooey .dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  filter: blur(4px);
  background: #000;
  border-radius: 50%;
}
@-moz-keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@-webkit-keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@-o-keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@-moz-keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}
@-webkit-keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}
@-o-keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}
@keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}

/* Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /*grid-auto-rows: 235px;*/
}
.grid-proyecto{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: .8rem;
}
.grid-proyecto .item {

  margin-bottom: 1rem;
}
/* 5 */

.grid-main .item:nth-child(1) {
  grid-column: 1/ 4;
}

.grid-main .item:nth-child(2) {
  grid-column: 4/ 7;
}

.grid-main .item:nth-child(3) {
  grid-column: 1/ 3;
}

.grid-main .item:nth-child(4) {
  grid-column: 3/ 5;
}
.grid-main .item:nth-child(5) {
  grid-column: 5/ 7;
}
.grid-main .item:nth-child(6) {
  grid-column: 1/ 4;
}
.grid-main .item:nth-child(7) {
  grid-column: 4/7 ;
}

/* Grid Item */
.item {
	margin: 5px;
	font-size: 1.5em;
}
.item:hover {
  text-decoration: none;
  color: #2c68a3;
}
.grid-section{
  display: grid;
  grid-template-columns: 16% 83%;
  gap: 1rem;
  margin-top: 2rem;
}
.container-main{
  width: 100%;
  padding-right: 3.5rem;
  padding-left: 3.5rem;
  margin-right: auto;
  margin-left: auto;
}
.parraf{
  font-size: .9rem;
    font-weight: 500;
}
.item p{
  color: #000;
  font-size: .9rem;
  margin-bottom: 0;
}
.grid-main img{
  object-fit: cover;
  height: 250px;
}
.item div{
  position: relative;
}
.grid-details{
  display: flex;
}
.grid-details .item{
  width: 100%;
}
.grid-details img {
  object-fit: cover;
  height: 100%;
}
.contact{
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.contact-item{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}
.contact-item form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact-item .row{
  background: #ffffffde;
  padding: 2rem;
  border-radius: 10px;
  width: 50rem;
}
 input {
  overflow: visible;
  height: 40px;
  border-radius: 10px;
  box-shadow: none;
  border: 1px solid #060606c2;
  background: transparent;
}
textarea {
  background: transparent;
  height: 100px;
  border-radius: 10px;
  box-shadow: none;
  border: 1.5px solid #060606c2;
}
.flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-item a{
  color: #000;
}
.btns{
  background: #112129;
    color: #fff;
    box-shadow: none;
    border: navajowhite;
    width: 27%;
    border-radius: 12px;
    padding: .4rem;
}
footer a, footer i{
  color: #fff;
  margin: 2px;
}
footer div{
  position: absolute;
  bottom: 10px;
  left: 48%;
}
.fa-instagram´{
  background: white;
  padding: 1px;
  border-radius: 5px;
  color: #00000069;
}
.ws{
  position: fixed;
  bottom: 1rem;
  right: .5rem;
  background: #112129;
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 50px;
  color: #fff;
}
.grid-3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 11px;
}
.grid-2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 11px;
}
.grid-3 .item:nth-child(1),.grid-3 .item:nth-child(2),.grid-3 .item:nth-child(3),.grid-3 .item:nth-child(4),.grid-3 .item:nth-child(5),.grid-3 .item:nth-child(6),.grid-3 .item:nth-child(7),.grid-3 .item:nth-child(8),
.grid-2 .item:nth-child(1),.grid-2 .item:nth-child(2),.grid-2 .item:nth-child(3),.grid-2 .item:nth-child(4),.grid-2 .item:nth-child(5),.grid-2 .item:nth-child(6),.grid-2 .item:nth-child(7),.grid-2 .item:nth-child(8){
  grid-column: initial;
}